@inject IWebConsole console

<div class="flex flex-row">
    <span class="text-azure">@@@console.CurrentUser</span> <span class="text-console2">:@(console.CurrentDir)$</span>
    <input id="consoleInput" @bind-value=command @oninput=onInput @onkeypress=OnKey spellcheck="false" autofocus type="text" class="bg-inherit text-console1 w-full ml-space focus:outline-none">
</div>


@code {
    private string command { get; set; } = "";

    void OnKey(KeyboardEventArgs args)
    {
        if(args.Key != "Enter")
            return;

        console.ComputeCommand(command);
        command = "";
    }

    void onInput(ChangeEventArgs args)
    {
        command = args.Value as string;
    }
}