@inject IWebConsole console
@inject IJSRuntime JS

<div @onclick=OnClick class="console absolute bottom-0 left-0 text-overflow-hidden h-2/5 w-full bg-darkGray-600">
    <nav class="flex justify-end h-8 w-full bg-darkGray-700">
        <div class="flex text-gray-300 justify-between pt-2 h-full w-12 mr-5">
          <i class="fas fa-minus cursor-pointer"></i>
          <i class="far fa-window-maximize cursor-pointer"></i>
        </div>
      </nav>
    <div class="w-full h-full pb-36 text-overflow-scroll font-cascadia bg-inherit leading-5 text-console2 pt-5 pl-3 text-lg">
        @foreach (var content in console.DisplayContent)
        {
            @((MarkupString)content)
        }
        
        <ConsoleInput/>
    </div>
</div>

@code {
    protected override void OnInitialized()
    {
        console.Write("Initialising console...");
        console.NewDisplayContent += () => StateHasChanged();
        console.Write("Done!");
        base.OnInitialized();
    }

    private async Task OnClick()
    {
      await JS.InvokeVoidAsync("focusElement", "consoleInput");
    }
}

        